<!doctype html>
<html lang="en">

<head>
    <title>Memes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/card.css">
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static//upload.css">

</head>

<body>

    <nav class="nav" style="background-color: #343A40;">
        <a href="" style="margin-left: 20%; text-decoration-line:none ;" ><h2 style="color: white;">Solve-X meme library</h2></a>
        <ul class="nav flex-column nav-ul">
            <li class="nav-item">
                <a class="nav-link" style="color: white; text-decoration-line: none; font-size: larger;"
                    href="#"><b>Menu</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: white; text-decoration-line: none;" href="/random">Random</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: white; text-decoration-line: none;" href="/upload">New meme</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <% for(let i=0; i < memes.length ; i++) { %>
                <div class="col-sm-7">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="<%- memes[0].url%>" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><%- memes[0].title%></h5>
                            <p class="card-text">
                                <%- memes[0].des%>
                            </p>
                        </div>
                    </div>
                </div>
            <% } %> 
            <form class="mt-5" method="POST" action="/edited" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" name="title" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="comment">Description <span style="color: grey;">(Optional)</span></label>
                    <textarea type="text" name="des" class="form-control" rows="3" id="comment"></textarea>
                </div>
                <div class="form-group">
                    <label for="source">Source URL:</label>
                    <input type="url" name="url" class="form-control" id="source">
                </div>
                <button class="btn btn-primary">Post</button>
            </form>
        </div>

    </div>

    </html>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

