nav {
    padding: 10px;
    align-items: center;
}

a.nav-link {
    margin-left: 10px;
}

.nav-ul {
    margin-left: 20%;
}

.menu-link{
    color: white; text-decoration-line: none; font-size: larger;
}

.text-decor{
    color: white; text-decoration-line: none;
}